{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Greeting, fellow visitors! This is the about page of me, C Tu.
        </p>
        <p>
          I'm a 17 years old student, in the progress of learning Python in my journey of becoming a fully fledged developer.
          Wish me luck :)
        </p>
        <p>
          Personality type: INFJ
        </p>
        <P>
          Favs: Music, art, anime, coding, looking at beautifully-created web designs, editing, and many more that I can't fully think of.
        </p>
        <p>
          Dislikes: Annoyance, waiting, bullying, my country's electricity, slow internet connection, having no appreciation
        </p>
        <p>
          This website is a project website made with Python using a web-frame called Flask and other modules.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
